footer
   .container
     .logo.localScroll-slow.pulse-hover
       a(href='#home')
         img(src='/images/xmobile/logo-dark.png', alt='')
     .copyright
       span COPYRIGHT (c) 2016 #{ sitename }