<header id="home">
    <div class="header-phones-version image-overlay">
        <div class="container col-xs-12 intro">
            <div class="welcome-message"><img src="/images/xmobile/logo-light.png" alt="" class="logo"/></div>
            <div id="subtextpanel">
                <h1 id="slogan"></h1>
                <article id="stayintouch">
                    <h4>Keep up with us</h4>
                    <div class="messages">
                        <p class="subscription-success"></p>
                        <p class="subscription-failed"></p>
                    </div>
                    <form id="subscription" target="_blank" role="form">
                        <input id="mc-email" type="email" placeholder="Enter your email address"/>
                        <button type="submit"><span class="icon icon-compass"></span></button>
                    </form>
                    <ul class="social">
                        <li><span>Connect with us: </span></li>
                        <li><a href="https://twitter.com/undefined" target="_blank"><i class="icon-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/undefined" target="_blank"><i
                                class="icon-facebook"></i></a></li>
                    </ul>
                </article>
            </div>
        </div>
        <ul style="display: none;" class="responsive-button">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
        <!-- HEADER END-->
    </div>
</header>