<div class="container">
    <h3 class="subtitle">How it works?</h3>
    <div id="messaging" class="row">
        <div class="col-md-3">
            <span class="icon icon-target"></span>
            <h3>Active learning</h3>
            <p>Learn at your own pace in an active learning environment. No more training videos that put you to sleep.</p>
        </div>
        <div class="col-md-1"></div>
        <i class="icon-arrow-right nextarrow"></i>
        <div class="col-md-3">
            <span class="icon icon-users"></span>
            <h3>Collaborate</h3>
            <p>Learn along with others who will help you along the way.</p>
        </div>
        <div class="col-md-1"></div>
        <i class="icon-arrow-right nextarrow"></i>
        <div class="col-md-3">
            <span class="icon icon-accessibility"></span>
            <h3>Fun and engaging</h3>
            <p>We believe learning should be fun! Our unique approach keeps you engaged while you learn.</p>
        </div>
    </div>
</div>