doctype html
html
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
      title #{ sitename }
      meta(name='description', content='#{ slogan }')
      meta(name='author', content='inssitu - inssitu.com')
      meta(name='keywords', content='xmobile, inssitu, themeforest, Landing page')

      link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/themes/xmobile/main.css')
      link(rel='stylesheet', href='/stylesheets/themes/xmobile/responsive.css')
      link(rel='stylesheet', href='/stylesheets/fonts/icomoon/icomoon.css')
      link(rel='stylesheet', href='/stylesheets/themes/xmobile/light.css')
      link(rel='stylesheet', href='/stylesheets/themes/xmobile/blue.css')
      link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,600', rel='stylesheet', type='text/css')
      link(rel="icon", type="image/x-icon", href="/favicon.ico?v=1")
      <!--[if lt IE 9]>
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      <![endif]-->

      block head

    body
        .global-wrap
            include ../partials/_header
            block content
            include ../partials/_footer

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js")
        script.
          var MailChimpUrl = '#{ MailChimpUrl }';
          window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js">\\x3C/script>')
          
        script(src='http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js')
        script(src='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js')
        script(src='/javascripts/xmobile/jquery.subscribe.js')
        script(src='/javascripts/xmobile/main.js')
        block scripts

        include ../partials/_googleanalytics
