<!DOCTYPE html>
<html>
{{>head}}
<body>
{{{ body }}}


<script src="themes/anima/files/jquery-1.11.3.min.js"></script>

<script src="themes/anima/files/foundation.min.js"></script>
<script src="themes/anima/files/highlight.min.js"></script>
<script src="themes/anima/files/headroom.js"></script>
<script src="themes/anima/files/jquery.headroom.js"></script>
<script src="themes/anima/files/reading-time.js"></script>
<script src="themes/anima/files/imagesloaded.js"></script>
<script src="themes/anima/files/nice-scroll.js"></script>
<script src="themes/anima/files/shuffle.js"></script>
<script src="themes/anima/files/magnific-popup.js"></script>
<script src="themes/anima/files/select-fx.js"></script>
<script src="themes/anima/files/ghost-hunter.js"></script>
<script src="themes/anima/files/owl.carousel.js"></script>
<script src="themes/anima/files/velocity.js"></script>

</body>
</html>