<html>
    {{>head}}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                This is the default layout
                    {{{ body }}}
                </div>
            </div>
        </div>
    </body>
</html>